<div>
	<div>
	Nome:	<%= @game.name%>
	</div>
	<div>
	<br>
	Descricao:	<%= @game.description%>
	</div>
	<div>
	<br>
	<tbody>
		<%@images.each do |image|%>
		<tr>
			<th><img src='<%= image %>' style="float: left; width: 30%; height: 15em; margin-right: 1%; margin-bottom: 0.5em;"></th>
		</tr>
		<%end%>
		<p style="clear: both;">
	</tbody>
	</div>
</div>