<div>
	<div>
	Nome:	<%= @game.name%>
	</div>
	<div>
	<br>
	Descricao:	<%= @game.description%>
	</div>
	<div>
	<br>
	<tbody>
		<%@images.each do |image|%>
		<tr>
			<th><img src='<%= image %>' style="float: left; width: 30%; height: 15em; margin-right: 1%; margin-bottom: 0.5em;"></th>

		</tr>
		<%end%>

		<br /><br />
	</tbody>
	</div>
</div>

	<br /><br />
		<%= link_to 'New comment', :controller => :comments, :action => :new, :id => @game.id, class: 'btn btn-primary m-t-10' %>
